<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
            <h5 class="mb-2">Items Type List</h5>
            <small class="mb-2">
                <div class="input-group input-group-merge">
                    <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon-search31">
                </div>
            </small>
            <small class="text-muted float-end mb-2">
                <button type="button" class="btn btn-primary" onclick="window.location.href='/inventory/items_type/new'">
                    <span class="tf-icons bx bx-plus me-1"></span>Create New
                </button>
            </small>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <caption class="ms-4">List of Type Items</caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created By</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {{#each itemsType}}
                    <tr>
                        <td><i class="bx bxs-category-alt bx-sm text-danger me-3"></i> <span class="fw-medium">{{this.id}}</span></td>
                        <td>{{this.name}}</td>
                        <td>{{this.description}}</td>
                        <td>
                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" aria-label="Admin" data-bs-original-title="Admin">
                                    <img src="/public/img/avatars/1.png" alt="Avatar" class="rounded-circle">
                                </li>
                            </ul>
                        </td>
                        <td>
                            {{#if this.status}}
                            <span class="badge bg-label-success me-1">Active</span>
                            {{else}}
                            <span class="badge bg-label-danger me-1">Inactive</span>
                            {{/if}}
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/inventory/items_type/{{this.id}}"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item text-danger" href="javascript:void(0);"><i class="bx bx-trash text-danger me-1"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>